{{ partial "header" . }}

<main>

    <div class="intro">
        <img src="/prototype.png" width="128px"></img>
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>

    </div>

</main>

{{ partial "footer" . }}
